<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>28638435536-dlsg317ttk7uof22nl21ipnsdpsn0kjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28638435536-dlsg317ttk7uof22nl21ipnsdpsn0kjk</string>
	<key>API_KEY</key>
	<string>AIzaSyClCPF-eyc4se1SOI8GDjq5R1lnSGgwNtI</string>
	<key>GCM_SENDER_ID</key>
	<string>28638435536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.satelshawn.Samson-Social</string>
	<key>PROJECT_ID</key>
	<string>samson-social</string>
	<key>STORAGE_BUCKET</key>
	<string>samson-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:28638435536:ios:d68d97f446b0b69f</string>
	<key>DATABASE_URL</key>
	<string>https://samson-social.firebaseio.com</string>
</dict>
</plist>